{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Groupes{% endblock %}
{% block body %}
    <h2 class="display-4">Création Groupes</h2>
    <div class="container">

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row mb-2">
            <div class="font-weight-bold col-12 col-md-4 m-auto">Nom Groupe:</div>
            <div class="col-12 col-md-8">
                {{ form_widget(form.nom) }}
                {{ form_errors(form.nom) }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="font-weight-bold col-12 col-md-4 m-auto">Participants (sélection multiples):</div>
            <div class="col-12 col-md-8">
                {{ form_widget(form.participants) }}
                {{ form_errors(form.participants) }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 pb-3">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-success font-weight-bold'}}, {'label': 'Enregister'}) }}
            </div>
            <div class="col-12 col-sm-6">
                <a href="{{ path('home') }}" class="btn btn-block btn-danger font-weight-bold">Annuler</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <hr>
     <h2 class="display-4">Mes Groupes</h2>
    {% if groupes != null %}
    {% for groupe in groupes %}
        <div class="card text-center">
            <div class="card-header">
                {{ groupe.nom }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Participant(s)</h5>
                <a class="btn btn-light" data-toggle="collapse" href="#collapseExample1{{ groupe.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="far fa-eye"></i>
                </a>
                <a class="btn btn-light"  href="{{ path('modifierGroupe', {id:groupe.id}) }}">
                    <i class="fas fa-plus"></i>
                </a>
                <a class="btn btn-light" href="{{ path('remove_group', {id:groupe.id}) }}">
                    <i class="far fa-trash-alt"></i>
                </a>

                <div class="collapse" id="collapseExample1{{ groupe.id}}">
                    <div class="card card-body">
                        <ul class="list-unstyled">
                            {% for util in groupe.participants %}
                            <li class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{ util.nom}}</h5>
                                </div>
                                <a href="{{ path('profil_user', {id:util.id}) }}" class="btn btn-sm btn-outline-success action"><i class="fas fa-user"></i></a><a href="{{ path('remove_util',{'id':util.id, 'idgroupe':groupe.id}) }}" class="btn btn-sm btn-outline-danger action"><i class="fas fa-user-minus"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>



            </div>
            <div class="card-footer text-muted">
                {{ groupe.participants.count }} participant(s)
            </div>
        </div>






{% endfor %}
    {% endif %}



{% endblock %}