{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Home{% endblock %}
{% block body %}
    <script src="{{ asset("js/home.js") }}"></script>
    <h1 class="display-4">ACCUEIL</h1>
    <hr class="my-3">
    <div class="container-fluid">
        <form id="form">
            <h4 class="mb-3">Filtrer les sorties</h4>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 mb-3">
                    <div class="form-group row pr-3">
                        <label for="site" class="col-12 col-sm-4 m-auto">Site :</label>
                        <select class="custom-select col-12 col-sm-8" id="site">
                            <option value="0">Tous</option>
                            {% for site in sites %}
                            <option value="{{ site.id}}">{{site.nom}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row pr-3">
                        <label for="search" class="col-12 col-sm-4 m-auto">Recherche nom :</label>
                        <input type="text" class="form-control col-12 col-sm-8" id="search">
                    </div>
                    <div class="row px-3">
                        <span class="pr-3 m-auto">Entre</span>
                        <div class="form-group m-0 col p-0">
                            <input type="date" class="form-control" id="debut">
                        </div>
                        <span class="px-3 m-auto">et</span>
                        <div class="form-group m-0 col p-0">
                            <input type="date" class="form-control" id="fin">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="orga">
                        <label class="custom-control-label" for="orga">Sorties dont je suis l'organisateur(trice)</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="inscrit">
                        <label class="custom-control-label" for="inscrit">Sorties auxquelles je suis insrit(e)</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="noninscrit">
                        <label class="custom-control-label" for="noninscrit">Sorties auxquelles je ne suis pas insrit(e)</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="passees">
                        <label class="custom-control-label" for="passees">Sorties passées</label>
                    </div>
                    <a class="btn btn-block btn-secondary mt-3">Recherche</a>
                </div>
            </div>
        </form>
    </div>

    <hr>
    <div class="container-fluid">
        <div id="table">
            <table class="table table-sm mb-5">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col" class="text-center">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <th scope="row">{{ sortie.nom }}</th>
                        <td>{{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }}</td>
                        <td>{{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }}</td>
                        <td>{{ sortie.inscrit.count }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td class="text-center">
                            {% if app.user %}
                                {% if app.user == sortie.inscrit.contains(app.user) %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}

                                {% endif %}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('profil_user', {id:sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</td>
                        <td class="text-right">
                            {% if app.user %}
                                {% if app.user != sortie.inscrit.contains(app.user)  and sortie.etat.libelle == 'Ouverte' and app.user != sortie.organisateur %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}" class="btn btn-sm btn-outline-secondary action">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    {% if sortie.inscrit.count == sortie.nbInscriptionsMax %}

                                    {% else %}
                                        <a href="{{ path('inscrire', {id:sortie.id}) }}" ><i class="fas fa-plus pr-3"></i></a>
                                    {% endif %}
                                {% elseif app.user == sortie.inscrit.contains(app.user) and sortie.etat.libelle == 'Ouverte' %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}"><i class="far fa-eye pr-3"></i></a>
                                    <a href="{{ path('desinscrire', {id:sortie.id}) }}" ><i class="fas fa-user-minus pr-3"></i></a>
                                {% elseif app.user != sortie.inscrit.contains(app.user) and sortie.etat.libelle == 'Clôturée' %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}"><i class="far fa-eye pr-3"></i></a>
                                {% elseif app.user == sortie.organisateur and sortie.etat.libelle == 'Créée' %}
                                    <i class="fas fa-tools pr-3"></i>
                                    <a href="{{ path('publier', {id:sortie.id}) }}" ><i class="fas fa-upload pr-3"></i></a>
                                {% elseif app.user == sortie.organisateur and sortie.etat.libelle == 'Ouverte' %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}"><i class="far fa-eye pr-3"></i></a>
                                    <a href="{{ path('annuler', {id:sortie.id}) }}" ><i class="fas fa-trash-alt pr-3"></i></a>
                                {% elseif app.user != sortie.inscrit.contains(app.user) and sortie.inscrit.count == sortie.nbInscriptionsMax %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}"><i class="far fa-eye pr-3"></i></a>
                                {% elseif app.user != sortie.inscrit.contains(app.user) and sortie.etat.libelle == 'Clôturée' %}
                                    <a href="{{ path('sortie', {id:sortie.id}) }}"><i class="far fa-eye pr-3"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if app.user %}
            <a href="{{ path('creer') }}" class="btn btn-block btn-success">Créer une sortie</a>
        {% endif %}
    </div>
{% endblock %}