{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Home{% endblock %}
{% block body %}
    <script src="{{ asset("js/home.js") }}"></script>
    <h1 class="display-4">ACCUEIL</h1>
    <hr class="my-3">
    <div class="container-fluid">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {% if app.user %}
            <form id="form">
                <h4 class="mb-3">Filtrer les sorties</h4>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
                        <div class="form-group row mb-2 mx-0">
                            <label for="site" class="font-weight-bold col-12 col-sm-4 m-auto">Site:</label>
                            <select class="custom-select col-12 col-sm-8" id="site">
                                <option value="0" selected>Tous</option>
                                {% for site in sites %}
                                    <option value="{{ site.id}}">{{site.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row mb-2 mx-0">
                            <label for="debut" class="font-weight-bold col-12 col-sm-4 m-auto">Recherche nom:</label>
                            <div class="input-group col-12 col-sm-8 p-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" id="search">
                            </div>
                        </div>


                        <div class="form-group row mb-2 mx-0">
                            <label for="debut" class="font-weight-bold col-12 col-sm-4 m-auto">Entre:</label>
                            <div class="input-group col-12 col-sm-8 p-0">
                                <input type="date" class="form-control" id="debut">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2 mx-0">
                            <label for="debut" class="font-weight-bold col-12 col-sm-4 m-auto">Et:</label>
                            <div class="input-group col-12 col-sm-8 p-0">
                                <input type="date" class="form-control" id="fin">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 pl-lg-4">
                        <div class="custom-control custom-checkbox ml-3 ml-lg-0">
                            <input type="checkbox" class="custom-control-input" id="orga">
                            <label class="custom-control-label" for="orga">Sorties dont je suis l'organisateur(trice)</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-3 ml-lg-0">
                            <input type="checkbox" class="custom-control-input" id="inscrit">
                            <label class="custom-control-label" for="inscrit">Sorties auxquelles je suis insrit(e)</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-3 ml-lg-0">
                            <input type="checkbox" class="custom-control-input" id="noninscrit">
                            <label class="custom-control-label" for="noninscrit">Sorties auxquelles je peut m'insrire</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-3 ml-lg-0">
                            <input type="checkbox" class="custom-control-input" id="passees">
                            <label class="custom-control-label" for="passees">Sorties passées</label>
                        </div>
                        <button class="btn btn-block btn-secondary font-weight-bold align-text-bottom mt-4" id="resetForm">Effacer la recherche</button>
                    </div>
                </div>
            </form>
            <hr>
            <div id="table"></div>
            <a href="{{ path('creer', {"id":0}) }}" class="btn btn-block btn-success font-weight-bold mt-3">Créer une sortie</a>
        {% else %}
            <h5>Bienvenue sur Sortir.com</h5>
            <div class="text-lead mb-5">
                Vous devez être connecté pour pouvoir accéder à l'application.
            </div>
            <a class="btn btn-link font-weight-bold p-0" href="{{ path('connexion') }}">Se connecter</a>
        {% endif %}
    </div>
{% endblock %}