{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Sortie{% endblock %}
{% block body %}
    <h1 class="display-4">SORTIE</h1>
    <hr class="my-3">
    <div class="container">
        <div class="card{% if sortie.etat.libelle == 'Annulée' %} bg-annulee{% elseif sortie.etat.libelle == 'Archivée' %} bg-archivee{% endif %}">
            <div class="card-header h3">
                {{ sortie.nom }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <p class="card-text"><span class="h6">Nom de la sortie: </span>{{ sortie.nom }}</p>
                        <p class="card-text"><span class="h6">Date et heure de la sortie: </span>{{ sortie.dateHeureDebut|date('d/m/Y à H:i:s') }}</p>
                        <p class="card-text"><span class="h6">Date limite d'incription: </span>{{ sortie.dateLimiteInscription|date('d/m/Y à H:i:s') }}</p>
                        <p class="card-text"><span class="h6">Nombre de place: </span>{{ sortie.inscrit.count }}/{{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text"><span class="h6">Durée: </span>{{ sortie.duree }} minutes</p>
                        <p class="card-text"><span class="h6">Description et infos: </span>{{ sortie.infosSortie }}</p>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <p class="card-text"><span class="h6">Ville organisatrice: </span>{{ sortie.organisateur.site.nom }}</p>
                        <p class="card-text"><span class="h6">Lieu: </span>{{ sortie.lieu.nom }}</p>
                        <p class="card-text"><span class="h6">Rue: </span>{{ sortie.lieu.rue }}</p>
                        <p class="card-text"><span class="h6">Code postal: </span>{{ sortie.lieu.ville.codePostal }}</p>
                        <p class="card-text"><span class="h6">Latitude: </span>{{ sortie.lieu.latitude }}</p>
                        <p class="card-text"><span class="h6">Longitude: </span>{{ sortie.lieu.longitude }}</p>
                    </div>
                    <div class="col-12 my-3">
                        <p class="card-text">
                            <span class="h4">Liste des participants: </span>
                            <div class="list-group list-group-flush">
                                {% if sortie.inscrit is empty %}
                                    <a class="list-group-item list-group-item-action">Aucun participant</a>
                                {%  endif %}
                                {% for participant in sortie.inscrit %}
                                    <a href="{{ path('profil_user', {id:participant.id}) }}" class="list-group-item list-group-item-action">{{ participant.pseudo }} - {{ participant.prenom }} {{ participant.nom }}</a>
                                {% endfor %}
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% if sortie.etat.libelle == 'Ouverte' and app.user != sortie.organisateur and app.user != sortie.inscrit.contains(app.user) and sortie.inscrit.count < sortie.nbInscriptionsMax %}
                        <div class="col-12 col-sm-6 mb-3">
                            <a href="{{ path('inscrire', {id:sortie.id}) }}" class="btn btn-block btn-success font-weight-bold">S'inscrire</a>
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="button" value="Retour" class="btn btn-block btn-danger font-weight-bold" onclick="history.back(-1)" />
                        </div>
                    {% elseif sortie.etat.libelle == 'Ouverte' and app.user != sortie.organisateur and app.user == sortie.inscrit.contains(app.user) %}
                        <div class="col-12 col-sm-6 mb-3">
                            <a href="{{ path('desinscrire', {id:sortie.id}) }}" class="btn btn-block btn-danger font-weight-bold">Se désinscrire</a>
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="button" value="Retour" class="btn btn-block btn-danger font-weight-bold" onclick="history.back(-1)" />
                        </div>
                    {% else %}
                        <input type="button" value="Retour" class="btn btn-block btn-danger font-weight-bold" onclick="history.back(-1)" />
                    {% endif %}
                </div>
            </div>
            <div class="card-footer text-right h6">
                {{ sortie.etat.libelle|upper }}
            </div>
        </div>
    </div>
{% endblock %}