{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Sortie{% endblock %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset("js/creerSorti.js") }}"></script>
    <h1 class="display-4">Créer une Sortie</h1>
    <hr class="my-3">
    <div class="container">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <input type="hidden" id="typeSub" name="typeSub" value="Créée"/>
        <div class="row">
            <div class="col-sm-6">
                <div class="row mb-2">
                    <div class="col-4">Nom de la sortie :</div>
                    <div class="col-8">
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Date et heure de la sortie :</div>
                    <div class="col-8">
                        {{ form_widget(form.dateHeureDebut) }}
                        {{ form_errors(form.dateHeureDebut) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Date limite d'inscription :</div>
                    <div class="col-8">
                        {{ form_widget(form.dateLimiteInscription) }}
                        {{ form_errors(form.dateLimiteInscription) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Nombre de places :</div>
                    <div class="col-8">
                        {{ form_widget(form.nbInscriptionsMax) }}
                        {{ form_errors(form.nbInscriptionsMax) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Durée :</div>
                    <div class="col-8">
                        <div class="row mb-2">
                            <div class="col-8">{{ form_widget(form.duree) }} </div>
                            <div class="col-4">minutes</div></div>
                        {{ form_errors(form.duree) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Description et infos :</div>
                    <div class="col-8">
                        {{ form_widget(form.infosSortie) }}
                        {{ form_errors(form.infosSortie) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mb-2">
                    <div class="col-4">Ville organisatrice :</div>
                    <div class="col-8">
                        <label>{{ villeOrga.nom }}</label>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4">Ville  :</div>
                    <div class="col-8">
                        <select id="ville" class="form-control">
                            {% for ville in villes %}
                                <option value="{{ ville.id }}">{{ ville.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="lieu"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
            <button type="submit" class="btn btn-block btn-success">Enregistrer</button>
            </div><div class="col-sm-4">
            <button class="btn btn-block btn-info" id="publi">Publier la sortie</button>
            </div><div class="col-sm-4">
            <a href="{{ path('home') }}" class="btn btn-block btn-danger">Annuler</a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}