{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block body %}
    <h1 class="display-4">INSCRIPTION</h1>
    <hr class="my-3">
    <div class="container">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        <div class="form-group row pr-3">
            <label for="pseudo" class="col-4 m-auto">Pseudo :</label>
            {{ form_widget(form.pseudo, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <div class="form-group row pr-3">
            <label for="prenom" class="col-4 m-auto">Prénom :</label>
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <div class="form-group row pr-3">
            <label for="nom" class="col-4 m-auto">Nom :</label>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <div class="form-group row pr-3">
            <label for="telephone" class="col-4 m-auto">Téléphone :</label>
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <div class="form-group row pr-3">
            <label for="email" class="col-4 m-auto">Email :</label>
            {{ form_widget(form.mail, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <div class="form-group row pr-3">
            <label for="mdp" class="col-4 m-auto">Mot de passe :</label>
            {{ form_widget(form.passwordPlain, {'attr': {'class': 'form-control col-8'}}) }}
        </div>
        <button type="submit" class="btn btn-block btn-success">Inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}