{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block body %}
    <h1 class="display-4">INSCRIPTION</h1>
    <hr class="my-3">
    <div class="container">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.pseudo) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.site) }}
            {{ form_row(form.passwordPlain) }}

            {{ form_row(form.submit, { 'label': 'Inscrire' }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}