{% extends('base.html.twig') %}
{% block title %}{{ parent() }} | Profil{% endblock %}
{% block body %}
    <h1 class="display-4">MON PROFIL</h1>
    <hr class="my-3">
    <div class="container">
        <div class="card">
            <div class="card-header h3">
                {{ participant.pseudo }}
            </div>
            <div class="card-body">
                <p class="card-text"><span class="h6">Prénom: </span>{{ participant.prenom }}</p>
                <p class="card-text"><span class="h6">Nom: </span>{{ participant.nom }}</p>
                <p class="card-text"><span class="h6">Téléphone: </span>{{ participant.telephone }}</p>
                <p class="card-text"><span class="h6">Email: </span>{{ participant.mail }}</p>
                <p class="card-text"><span class="h6">Ville de rattachement: </span>{{ participant.site.nom }}</p>
                <a href="{{ path('home') }}" class="btn btn-block btn-danger">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}